blueprints/
.*
automations.yaml
configuration.yaml
groups.yaml
*.db*
**.log**
scenes.yaml
scripts.yaml
secrets.yaml
__pycache__/
deps/
!.github/
custom_components/husqvarna_automower/tests/output/*.png
*.lock
coverage.xml
.gitmodules