[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-homeassistant-custom-component = "*"
aioautomower = "*"
geopy = "*"
numpy = "*"
pillow = "*"
shapely = "*"
aiohttp-cors = "*"
home-assistant-frontend = "*"
my = "*"
psutil-home-assistant = "*"
janus = "*"
fnv-hash-fast = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
test = "pytest"